div.zaglavlje{
	width:100%;
	height: 150px;
	position: relative;  
	left:0px;
	top:0px;	
}

h1.naslov{
	font-size:270%;
	font-family: Arial, Helvetica, sans-serif;
	position:absolute;
	text-align:centre;
	left:600px;
}
.link:hover {
	background-color: grey;
}


div.navigacija{
	border-radius: 35px;
	width:250px; 
	height:100%; 
	position:relative;   
			
}

div.detalji{
	width:325px;
	border-radius:35px;
	background-color:lightgrey;
	padding:25px;
	visibility:hidden;
	box-shadow:10px 10px 10px;
	
	
}
div.map{
	height:400px;
	width:600px;
	z-index:2;
	position:absolute;
	left:700px;
	top:550px;
	visibility:hidden;
}
button.closeBtn{
	z-index:3;
	cursor:pointer;
	width:100px;
	height:40px;
	margin-bottom:25px;
	visibility:hidden;
	border-radius:10px;
	box-shadow:10px 10px 10px;
}
li.izbor {
	margin: 75px 0px;
	font-family: "Times New Roman", Times, serif;
	border:solid;
	border-width:1px;
	border-radius:10px;
	background-color:lightgrey;
	padding:3px;
	box-shadow:10px 10px 10px;
	text-align:center;
	
}

li.izborRez {
	margin: 50px 0px;
	font-family: "Times New Roman", Times, serif;
	border:solid;
	border-width:1px;
	border-radius:10px;
	background-color:lightgrey;
	padding:3px;
	box-shadow:10px 10px 10px;
	text-align:center;
	
}

div.tijelo{
	border-radius: 25px;
	background-color:lightgrey; 
	padding: 20px; 
	width:1350px; 
	height:1170px; 
	position: absolute; 
	top:225px;
	left:300px;
	box-shadow:10px 10px 10px;
}

div.tijeloRez{
	border-radius: 25px;
	background-color:lightgrey; 
	padding: 20px; 
	width:1200px; 
	height:1170px; 
	position: absolute; 
	top:225px;
	left:420px;
	box-shadow:10px 10px 10px;
	z-index:0;
}

table.prva {
	
	border:solid;
    border-collapse: collapse;
    width: 100%;
	
}
th.prva{
	font-family: Arial, Helvetica, sans-serif;
	border:solid;
	border-color:black;
	font-size:200%;
	background-color:black;
	text-align:center;
	padding:10px;
	color:white;
}
td.prva {
	 font-family: Arial, Helvetica, sans-serif;
    text-align: left;
	font-size:120%;
    padding: 14px;
	
}

tr:nth-child(even){
	background-color: lightgrey
}

div.podnozje{
	position:relative;
	float:none;
   width:100%;
   height:60px; 
	top:800px;
   background-color:lightgrey; 
}

p.podnozje{
	text-align:center;
	font-size:150%;
}

p.text{
	font-size:135%;
	 font-family: Arial, Helvetica, sans-serif;
}

img.skulptura{
	margin-left:400px;
	
}



img.parkovi{
	position:relative;
	left:18%;
	border-radius:45px;
	display:inline-block;
	padding:20px;
	margin:25px;
}
body{
	background-image:url('slike/unutra.jpg');
	background-size:cover;
}




table.obrazac{
	
	border:dotted 1px;
	margin:20px;
	width:97%;
}

td.obrazac{
	font-family: "Lucida Console", "Courier New", monospace;
	text-align:left;
	font-size:150%;
	width:80%;
	padding:25px;
}
th.obrazac{
	 font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:200%;
}

input[type="radio"]{
	
	margin-right:25px;
	position:relative;
	right:180px;

}

label.radio{
	position:relative;
	right:160px;
	
}

ol.parkovi{
	 font-family: Arial, Helvetica, sans-serif;
	font-size:136%;
}

div.novi{
	width:200px;
	height:500px;
	background-color:blue;

}

div.najposjeceniji{
	width:100%;
	position:relative;

	display:inline-block;
}

.gumb{
	text-align:center;
	padding:15px;
	border:2px dotted green;
}

table.podaci{
	border: solid 1px;
	font-size:26px;
}

td.podaci{
	border-left:solid 1px;
	border-right:solid 1px;
}

ul.lista{
	list-style:none;
}

table.rezultati{
	width:97%;
	text-align:center;
	font-size:17px;
	border:solid 1px;
}
td.rezultati{
	border-left:solid 0.5px;
	padding:12.5px;
	font-size:17px;
}

th.rezultati{
	border-bottom:solid 0.5px;
}

td.adresa{
	width:400px;
	border-left:solid 0.5px;
}
td.koordinate{
	width:150px;
	border-left:solid 0.5px;
}

td.sazetak{
	border-left:solid 0.5px;
	font-size:13px;
}

p.detalji1{
	text-align:center;
	font-size:30px;
}
p.detalji{
	text-align:left;
	margin:2px;
}






